# Keep the repository focused on the playable Ren'Py game only.
*
!/.gitignore
!/game/
!/game/**

# Directories that Ren'Py changes files in.
/game/saves/
/game/cache/

# Compiled script files. These are important for saving, and so should
# be preserved by developer and build systems after the game has been released.
/game/**/*.rpyc
/game/**/*.rpymc

# Files Ren'Py can generate.
/game/**/*.bak
/game/**/*.new
/game/**/*.old

